html, body {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    height: 100%;
    width: 100%;
    background-color: lightblue;
}

.center {
    margin: auto;
    text-align: center;
    width: 50%;
    padding: 10px;
  }